.glyphicon-flip {
  transform: scaleX(-1);
}
.ctlValue {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 150px;
    font-size: 80%;
    font-weight: bold;
    margin-left: 3px;
}
.form-group .wj-flexgrid {
    display: inline-block;
    vertical-align: top;
    height: 200px;
    max-width: 350px;
}
.form-group .wj-gauge,
.form-group textarea,
.form-group input[type=range] {
    display: inline-block;
    vertical-align: top;
    max-width: 200px;
}
.wj-dropdown {
  max-width: 250px;
}
label {
    width: 120px;
    text-align: right;
    margin-right: 3px;
}
.wj-control label,
.wj-dropdown-panel label,
label.checkbox-inline,
label.radio-inline {
    width: auto;
    text-align: left;
}
.label-indent {
    padding-left: 120px;
}
.form-control {
    width: 200px;
    display: inline-block;
}
form {
    padding: 20px;
}
.toolbar {
    padding: 6px;
    background: #e0e0e0;
}
:disabled {
    opacity: .4;
}
