body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1663px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:37px;
  top:-14px;
  width:513px;
  height:984px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:984px;
}
#u1 {
  position:absolute;
  left:2px;
  top:484px;
  width:509px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:64px;
  top:90px;
  width:456px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:452px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:64px;
  top:120px;
  width:456px;
  height:50px;
  font-size:24px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:11px;
  width:452px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:70px;
  top:126px;
  width:21px;
  height:37px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:37px;
}
#u7 {
  position:absolute;
  left:2px;
  top:10px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:67px;
  top:180px;
  width:450px;
  height:400px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:400px;
}
#u9 {
  position:absolute;
  left:2px;
  top:192px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:150px;
  top:625px;
  width:70px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u11 {
  position:absolute;
  left:93px;
  top:630px;
  width:40px;
  height:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:93px;
  top:664px;
  width:27px;
  height:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:150px;
  top:660px;
  width:70px;
  height:25px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16 {
  position:absolute;
  left:243px;
  top:664px;
  width:27px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:300px;
  top:660px;
  width:70px;
  height:25px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19 {
  position:absolute;
  left:93px;
  top:699px;
  width:67px;
  height:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:150px;
  top:695px;
  width:70px;
  height:25px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22 {
  position:absolute;
  left:93px;
  top:729px;
  width:67px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:150px;
  top:725px;
  width:70px;
  height:25px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u25 {
  position:absolute;
  left:230px;
  top:730px;
  width:170px;
  height:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:410px;
  top:630px;
  width:80px;
  height:64px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:64px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:220px;
  top:790px;
  width:100px;
  height:25px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u30 {
  position:absolute;
  left:587px;
  top:-14px;
  width:513px;
  height:984px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:984px;
}
#u31 {
  position:absolute;
  left:2px;
  top:484px;
  width:509px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:614px;
  top:90px;
  width:456px;
  height:30px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:7px;
  width:452px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:614px;
  top:120px;
  width:456px;
  height:50px;
  font-size:24px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:50px;
}
#u35 {
  position:absolute;
  left:2px;
  top:11px;
  width:452px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:620px;
  top:126px;
  width:21px;
  height:37px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:37px;
}
#u37 {
  position:absolute;
  left:2px;
  top:10px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:617px;
  top:180px;
  width:450px;
  height:120px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:120px;
}
#u39 {
  position:absolute;
  left:2px;
  top:52px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:687px;
  top:190px;
  width:70px;
  height:25px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u41 {
  position:absolute;
  left:630px;
  top:195px;
  width:40px;
  height:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:767px;
  top:194px;
  width:27px;
  height:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:804px;
  top:186px;
  width:70px;
  height:25px;
}
#u45_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u46 {
  position:absolute;
  left:900px;
  top:190px;
  width:27px;
  height:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:937px;
  top:186px;
  width:70px;
  height:25px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u49 {
  position:absolute;
  left:630px;
  top:229px;
  width:67px;
  height:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:687px;
  top:225px;
  width:70px;
  height:25px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u52 {
  position:absolute;
  left:767px;
  top:229px;
  width:67px;
  height:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:810px;
  top:221px;
  width:64px;
  height:25px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u55 {
  position:absolute;
  left:802px;
  top:265px;
  width:80px;
  height:34px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u56 {
  position:absolute;
  left:900px;
  top:224px;
  width:67px;
  height:16px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:943px;
  top:224px;
  width:64px;
  height:25px;
}
#u58_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u59 {
  position:absolute;
  left:640px;
  top:274px;
  width:117px;
  height:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:812px;
  top:274px;
  width:16px;
  height:16px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u62 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:620px;
  top:300px;
  width:447px;
  height:560px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:560px;
}
#u64 {
  position:absolute;
  left:2px;
  top:272px;
  width:443px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:1150px;
  top:-20px;
  width:513px;
  height:984px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:984px;
}
#u66 {
  position:absolute;
  left:2px;
  top:484px;
  width:509px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:1178px;
  top:90px;
  width:456px;
  height:30px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:30px;
}
#u68 {
  position:absolute;
  left:2px;
  top:7px;
  width:452px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:1178px;
  top:120px;
  width:456px;
  height:50px;
  font-size:24px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:50px;
}
#u70 {
  position:absolute;
  left:2px;
  top:11px;
  width:452px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:892px;
  top:265px;
  width:80px;
  height:34px;
}
#u71_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u72 {
  position:absolute;
  left:982px;
  top:265px;
  width:80px;
  height:34px;
}
#u72_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u73 {
  position:absolute;
  left:85px;
  top:620px;
  width:325px;
  height:100px;
  opacity:0.200000002980232;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:100px;
}
#u74 {
  position:absolute;
  left:2px;
  top:42px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:900px;
  top:274px;
  width:16px;
  height:16px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u76 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:991px;
  top:274px;
  width:16px;
  height:16px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u78 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
