body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1541px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:1055px;
  top:90px;
  width:40px;
  height:38px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
}
#u2 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:89px;
  width:1200px;
  height:40px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
}
#u4 {
  position:absolute;
  left:2px;
  top:12px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:1052px;
  top:90px;
  width:40px;
  height:38px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
}
#u6 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:994px;
  top:90px;
  width:40px;
  height:38px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
}
#u8 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:750px;
  top:36px;
  width:420px;
  height:40px;
  font-size:14px;
  color:#868686;
  text-align:left;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:40px;
}
#u10 {
  position:absolute;
  left:2px;
  top:12px;
  width:416px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:100px;
  top:90px;
  width:100px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:38px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:200px;
  top:90px;
  width:100px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:38px;
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:300px;
  top:90px;
  width:100px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:38px;
}
#u17 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:400px;
  top:90px;
  width:100px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:38px;
}
#u19 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:500px;
  top:90px;
  width:100px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:38px;
}
#u21 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:600px;
  top:90px;
  width:100px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:38px;
}
#u23 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:190px;
  top:31px;
  width:209px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0000FF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:50px;
}
#u25 {
  position:absolute;
  left:0px;
  top:16px;
  width:209px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:10px;
  top:30px;
  width:180px;
  height:51px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:51px;
}
#u27 {
  position:absolute;
  left:2px;
  top:18px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:409px;
  top:45px;
  width:70px;
  height:22px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u28_input:disabled {
  color:grayText;
}
#u29 {
  position:absolute;
  left:620px;
  top:637px;
  width:490px;
  height:299px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:299px;
}
#u30 {
  position:absolute;
  left:2px;
  top:142px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:630px;
  top:677px;
  width:470px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:453px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:470px;
  height:1px;
}
#u32 {
  position:absolute;
  left:672px;
  top:647px;
  width:130px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000033;
  text-align:left;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:6px;
  width:126px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:630px;
  top:642px;
  width:40px;
  height:40px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u35 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:1030px;
  top:647px;
  width:70px;
  height:30px;
  color:#666666;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:669px;
  top:893px;
  width:411px;
  height:22px;
  text-align:left;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:22px;
}
#u39 {
  position:absolute;
  left:2px;
  top:3px;
  width:407px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:110px;
  top:88px;
  width:100px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u41 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:110px;
  top:637px;
  width:490px;
  height:299px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:299px;
}
#u43 {
  position:absolute;
  left:2px;
  top:142px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:120px;
  top:677px;
  width:470px;
  height:10px;
}
#u44_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_end {
  position:absolute;
  left:453px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_line {
  position:absolute;
  left:0px;
  top:5px;
  width:470px;
  height:1px;
}
#u45 {
  position:absolute;
  left:162px;
  top:647px;
  width:130px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000033;
  text-align:left;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:6px;
  width:126px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:630px;
  top:642px;
  width:40px;
  height:40px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u48 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:120px;
  top:642px;
  width:38px;
  height:38px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u50 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:520px;
  top:647px;
  width:70px;
  height:30px;
  color:#666666;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u52 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:168px;
  top:893px;
  width:411px;
  height:22px;
  text-align:left;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:22px;
}
#u54 {
  position:absolute;
  left:2px;
  top:3px;
  width:407px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:110px;
  top:536px;
  width:1000px;
  height:90px;
  font-size:18px;
  text-align:left;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:90px;
}
#u56 {
  position:absolute;
  left:2px;
  top:34px;
  width:996px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:110px;
  top:536px;
  width:15px;
  height:90px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:90px;
}
#u58 {
  position:absolute;
  left:2px;
  top:37px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:920px;
  top:551px;
  width:150px;
  height:60px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u60 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:752px;
  top:551px;
  width:150px;
  height:60px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u62 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:585px;
  top:551px;
  width:150px;
  height:60px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u64 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:418px;
  top:551px;
  width:150px;
  height:60px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u66 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:250px;
  top:551px;
  width:150px;
  height:60px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u68 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:645px;
  top:697px;
  width:24px;
  height:22px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u70 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:645px;
  top:719px;
  width:24px;
  height:22px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u72 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:645px;
  top:741px;
  width:24px;
  height:22px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u74 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:645px;
  top:763px;
  width:24px;
  height:22px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u76 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:645px;
  top:785px;
  width:24px;
  height:22px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u78 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:645px;
  top:805px;
  width:24px;
  height:22px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u80 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:645px;
  top:827px;
  width:24px;
  height:22px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u82 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:645px;
  top:849px;
  width:24px;
  height:22px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u84 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:645px;
  top:871px;
  width:24px;
  height:22px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u86 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:645px;
  top:893px;
  width:24px;
  height:22px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u88 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:168px;
  top:697px;
  width:200px;
  height:22px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
}
#u90 {
  position:absolute;
  left:0px;
  top:3px;
  width:200px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:168px;
  top:719px;
  width:400px;
  height:22px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:22px;
}
#u92 {
  position:absolute;
  left:0px;
  top:3px;
  width:400px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:168px;
  top:741px;
  width:382px;
  height:22px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:22px;
}
#u94 {
  position:absolute;
  left:0px;
  top:3px;
  width:382px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:168px;
  top:763px;
  width:372px;
  height:22px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:22px;
}
#u96 {
  position:absolute;
  left:0px;
  top:3px;
  width:372px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:168px;
  top:785px;
  width:384px;
  height:22px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:22px;
}
#u98 {
  position:absolute;
  left:0px;
  top:3px;
  width:384px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:168px;
  top:805px;
  width:430px;
  height:22px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:22px;
}
#u100 {
  position:absolute;
  left:0px;
  top:3px;
  width:430px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:168px;
  top:827px;
  width:352px;
  height:22px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:22px;
}
#u102 {
  position:absolute;
  left:0px;
  top:3px;
  width:352px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:168px;
  top:849px;
  width:342px;
  height:22px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:22px;
}
#u104 {
  position:absolute;
  left:0px;
  top:3px;
  width:342px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:168px;
  top:871px;
  width:362px;
  height:22px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:22px;
}
#u106 {
  position:absolute;
  left:0px;
  top:3px;
  width:362px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:144px;
  top:697px;
  width:24px;
  height:22px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u108 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:144px;
  top:719px;
  width:24px;
  height:22px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u110 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:144px;
  top:741px;
  width:24px;
  height:22px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u112 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:144px;
  top:763px;
  width:24px;
  height:22px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u114 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:144px;
  top:785px;
  width:24px;
  height:22px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u116 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:144px;
  top:805px;
  width:24px;
  height:22px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u118 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:144px;
  top:827px;
  width:24px;
  height:22px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u120 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:144px;
  top:849px;
  width:24px;
  height:22px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u122 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:144px;
  top:871px;
  width:24px;
  height:22px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u124 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:144px;
  top:893px;
  width:24px;
  height:22px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u126 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:669px;
  top:697px;
  width:260px;
  height:22px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:22px;
}
#u128 {
  position:absolute;
  left:0px;
  top:3px;
  width:260px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:669px;
  top:719px;
  width:270px;
  height:22px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:22px;
}
#u130 {
  position:absolute;
  left:0px;
  top:3px;
  width:270px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:669px;
  top:741px;
  width:311px;
  height:22px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:22px;
}
#u132 {
  position:absolute;
  left:0px;
  top:3px;
  width:311px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:669px;
  top:763px;
  width:311px;
  height:22px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:22px;
}
#u134 {
  position:absolute;
  left:0px;
  top:3px;
  width:311px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:669px;
  top:785px;
  width:311px;
  height:22px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:22px;
}
#u136 {
  position:absolute;
  left:0px;
  top:3px;
  width:311px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:669px;
  top:805px;
  width:309px;
  height:22px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:22px;
}
#u138 {
  position:absolute;
  left:0px;
  top:3px;
  width:309px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:669px;
  top:827px;
  width:309px;
  height:22px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:22px;
}
#u140 {
  position:absolute;
  left:0px;
  top:3px;
  width:309px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:669px;
  top:849px;
  width:309px;
  height:22px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:22px;
}
#u142 {
  position:absolute;
  left:0px;
  top:3px;
  width:309px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:669px;
  top:871px;
  width:370px;
  height:22px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:22px;
}
#u144 {
  position:absolute;
  left:0px;
  top:3px;
  width:370px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:100px;
  top:971px;
  width:1200px;
  height:2px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:2px;
}
#u147 {
  position:absolute;
  left:2px;
  top:-7px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:200px;
  top:973px;
  width:1000px;
  height:50px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:50px;
}
#u149 {
  position:absolute;
  left:2px;
  top:17px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:-179px;
  top:971px;
  width:1899px;
  height:32px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1899px;
  height:32px;
}
#u151 {
  position:absolute;
  left:2px;
  top:8px;
  width:1895px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:0px;
  top:128px;
  width:1200px;
  height:398px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:398px;
}
#u153 {
  position:absolute;
  left:2px;
  top:191px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
