html, body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Helvetica', 'Verdana', sans-serif;
  font-weight: 400;
  background: #ececec;
  box-sizing: border-box; }
  html *, body * {
    box-sizing: border-box; }
  html > .header, body > .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    color: #fff;
    background: #3f51b5; }
    html > .header h1, body > .header h1 {
      font-weight: 400;
      font-size: 20px;
      flex-grow: 1;
      flex-shrink: 1; }
    html > .header img, body > .header img {
      margin: 0 12px; }
  html > .footer, body > .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*space-evenly;*/
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    color: #fff;
    background: #3f51b5; }
  html > .content, body > .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: center;
    width: auto;
    overflow: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scroll-snap-type: mandatory;
    -ms-scroll-snap-type: mandatory;
    -webkit-scroll-snap-type: mandatory;
    -webkit-scroll-snap-destination: 0% 0%;
    -webkit-overflow-scrolling: touch; }

.card {
  flex-shrink: 0;
  border-radius: 2px;
  margin: 6px;
  padding: 12px;
  color: #000;
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  text-align: center;
  outline: none;
  scroll-snap-align: start;
  scroll-snap-coordinate: 0% 0%;
  -webkit-scroll-snap-coordinate: 0% 0%;
  /* older (Safari) */ }
  .card.narrow {
    width: 15em; }
    .card.narrow .btn {
      width: 80%;
      text-align: center; }
  .card:focus, .card:focus-within {
    outline: 2px solid #3f51b5;
    box-shadow: 0 0 0 1px rgba(90, 160, 215, 0.9), 0 2px 3px rgba(90, 160, 215, 0.9); }
  .card > .header {
    text-align: left;
    padding: 12px;
    margin: -12px;
    margin-bottom: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    opacity: .75; }
  .card p.trend span {
    font-size: 150%;
    opacity: .5;
    color: #337e01; }
    .card p.trend span.wj-glyph-down {
      color: #cc0000; }

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 24px;
  min-height: 24px;
  margin: 8px;
  padding: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  background: #3f51b5;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase; }
  .btn img {
    opacity: .75;
    margin: 0 8px;
    pointer-events: none;
    outline: none; }

.options {
  margin: 8px 2px;
  padding: 8px 16px;
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  outline: none; }

/* style combos */
.wj-combobox {
  min-width: 10em;
  margin-bottom: 12px; }

/* style gauges */
.wj-gauge {
  height: 8em; }
  .wj-gauge .wj-ranges path {
    fill: #ffb400;
    opacity: .5; }
  .wj-gauge .wj-face path {
    stroke-width: .5px; }

#rdg-units .wj-pointer {
  fill: #0085c7;
  opacity: .7; }

#rdg-revenue .wj-pointer {
  fill: #3b9200;
  opacity: .7; }

/* style charts */
.wj-flexchart {
  height: 10em;
  min-width: 10em;
  border: none;
  padding-top: 0; }
  .wj-flexchart .wj-gridline {
    opacity: .25; }
  .wj-flexchart .wj-label,
  .wj-flexchart .wj-axis-x .wj-title, .wj-flexchart .wj-flexchart .wj-axis-y .wj-title {
    font-style: normal;
    font-size: 75%;
    opacity: .8; }

/* style grid */
.wj-flexgrid {
  border: none;
  max-height: 25em;
  min-width: 20em; }
  .wj-flexgrid .wj-cell {
    border: none; }
    .wj-flexgrid .wj-cell.wj-state-multi-selected {
      background: #29367e; }
    .wj-flexgrid .wj-cell .spark-bar {
      position: absolute;
      top: 6px;
      bottom: 6px;
      opacity: .3; }
      .wj-flexgrid .wj-cell .spark-bar.units {
        background: #0085c7; }
      .wj-flexgrid .wj-cell .spark-bar.revenue {
        background: #3b9200; }

#cht-units.wj-flexchart g.wj-series-group ellipse {
  stroke-width: 0;
  fill: #0085c7;
  opacity: .3; }

#cht-units.wj-flexchart g.wj-series-group polyline {
  stroke-width: 3;
  stroke: #0085c7; }

#cht-revenue.wj-flexchart g.wj-series-group ellipse {
  stroke-width: 0;
  fill: #3b9200;
  opacity: .3; }

#cht-revenue.wj-flexchart g.wj-series-group polyline {
  stroke-width: 3;
  stroke: #3b9200; }

@media screen and (max-width: 500px) {
  body > .content {
    flex-wrap: nowrap;
    justify-content: flex-start; }
  .card, .card.narrow {
    margin: 16px 0;
    width: 100%; }
    .card .btn, .card .wj-dropdown, .card.narrow .btn, .card.narrow .wj-dropdown {
      min-width: 90%;
      text-align: center; } }

